<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/css/favi.png" type="image/x-icon">
	<title>Cricket Scoreboard</title>
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/style.css">
</head>
<body>

	{{> admin/register-nav}}

	<div class="container mt-3" style="color: white;">
		{{{body}}}
	</div>

	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
	<script src="/js/index.js"></script>
</body>
</html>